.container {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "header header header"
    "content_wrap content_wrap image1"
    "latest_wrap latest_wrap image2";
  grid-template-columns: 5fr 1fr;
  gap: 0px;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}


@media(max-width: 1000px) {

  .image1,
  .image2 {
    display: none;
  }
}

.container div.image2 {
  line-height: 1.5;
  text-align: center;
  grid-area: image2;
  font-size: 1.3rem;

  img {
    margin-top: -15px;
    content: center;
    max-width: 450px;
    height: auto;
    border-radius: 25px;
  }

  img:hover {
    transform-origin: right;
    transform: scale(1.2, 1.2) translateY(+10px);
    transition: transform 0.3s;
  }
}

.container div.image1 {
  line-height: 1.5;
  text-align: center;
  grid-area: image1;
  font-size: 1.3rem;

  img {
    border-radius: 25px;
    margin-right: +40px;
    content: center;
    max-width: 500px;
    height: auto;
  }
}

.container div.img_desc_wrap {
  justify-content: center;
  align-items: center;
  display: flex;

}

.container div.img_desc {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 25px;
  background-color: #282828;
  justify-content: center;
  align-items: center;
}

.container div.content_wrap {
  grid-area: content_wrap;
}

.container div.latest_wrap {
  grid-area: latest_wrap;
}

.container div.content {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 120px;
  margin-right: -100px;
  background-color: rgb(28, 28, 28);
  border-radius: 25px;
}

.container div.latest {
  padding-left: 5%;
  background-color: rgb(28, 28, 28);
  border-radius: 25px;
  margin-right: 0px;
  margin-left: 120px;
}