.container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "contact contact";
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.contact_wrap {
  display: flex;
  grid-area: contact;
  justify-content: center;
}

.container div.contact {
  max-width: 50%;
  background-color: #282828;
  border-radius: 25px;

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical
  }

  input[type=submit] {
    border-radius: 25px;
    background-color: #fe8019;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 41%;
  }
}