.container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "contact contact";
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.contact {
  max-width: 70%;
  padding-left: 20%;
  padding-right: 20%;

  grid-area: contact;

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
}