.container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header";
  gap: 0px;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}


.cv {
  background-color: rgb(28, 28, 28);
  border-radius: 25px;
}