.container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "image image"
    "image image";
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.image {
  grid-area: image;
  text-align: center;

  img {
    width: 35%;
    height: auto;
    border-radius: 25px;
  }

  img:hover {
    transform-origin: center;
    transform: scale(1.3, 1.3);
    transition: transform 0.3s;
  }
}