/* Google fonts import to use the JetBrains Mono font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url('../images/cityscape.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #FAF8F1;
  font-size: 23px;
}

.container div {
  padding: 10px;
}

.container div.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    padding: 10px;
    background-color: #282828;
    display: flex;
    border-radius: 25px;
  }

  ul li a {
    display: block;
    color: #FAF8F1;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #fe8019;
    border-radius: 25px;
    transition: background-color 0.7s;
  }

}