.container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "content content";
  gap: 0px;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.content_wrap {
  grid-area: content;
  display: flex;
  justify-content: center;
}


.container div.content {
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #282828;
  border-radius: 25px;
}