.container {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "header header header"
    "content content content";
  grid-template-columns: 3fr 1fr;
  gap: 0px;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.content {
  grid-area: content;
  text-align: center;
}