body {
  font-size: 1.4rem;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  background-image: url('images/black.jpeg');
  color: white;
}


.container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "image image2"
    "image image2";
  gap: 0px;
  padding: 20px;
}

.container div {
  padding: 20px;
}

.container div.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    padding: 10px;
    background-color: #333333;
    display: flex;
    border-radius: 25px;
  }

  ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #111111;
    border-radius: 25px;
  }

}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.image {
  text-align: center;
  grid-area: image;

  img {
    content: center;
    max-width: 100%;
    height: auto;
  }
}

.container div.image2 {
  text-align: center;
  grid-area: image2;

  img {
    content: center;
    max-width: 100%;
    height: auto;
  }
}